<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Conductor Pasajero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido, Conductor</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Encuentra y gestiona tus viajes fácilmente.</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" (click)="irAConductor()">Voy a conducir</ion-button>
  <ion-button expand="full" (click)="irABuscarViaje()">Busco viajar</ion-button>
  <ion-button expand="full" color="light" (click)="salir()">Salir</ion-button>
</ion-content>
